body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: top;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: #2e3440;
  overflow: hidden;
}

.knobs {
  display: grid;
  grid-template-rows: repeat(16, 46px);
  justify-items: center;
  grid-auto-flow: column;
  column-gap: 4px;
  row-gap: 0px;
}

.menu{
  display: flex;
  margin-top: 5px;
  margin-bottom: 5px;
  width: 100%;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}

#hostaddr{
 text-align: right;
 color: #2e3440;
 transition: all 0.2s ease-out;
 background-color: #81a1c1;
 border: none;
 width: 20vw;
}
#hostaddr:focus{
 background-color: #4c566a;
 color: #81a1c1;
 width: 65vw;
 font-size: 2.5rem;
 outline: none;
}
#reloadbutton{
 width: 20vw;
 color: #2e3440;
 background-color: #81a1c1;
 border: none;
}

.faders {
  display: grid;
  grid-template-columns: repeat(8, 44px);
  justify-items: center;
}
