shaders.simulated-generation.xyz {
    root * /srv/webgl-shaders
    file_server
}

broker.simulated-generation.xyz {
    reverse_proxy broker:8000
}

control.simulated-generation.xyz {
    reverse_proxy controller:80
}

radio.simulated-generation.xyz {
    root * /srv/radio-live
    file_server

    # Allows the web player (hls.js) to fetch segments from this domain
    header {
        Access-Control-Allow-Origin *
    }
}
